${PACKAGE_DECL}import org.junit.jupiter.api.Test;

import static org.junit.jupiter.api.Assertions.*;

class ${CLASS_NAME} {
  @Test
  void shouldDoSomething() {
    fail("Not yet implemented");
  }
}
